li {
    width: 150px;
    border: 10px solid rgb(217, 26, 137);
    padding: 5px;


}

.pragraf1 {
    position: relative;
    top: 20px;
}

.pragraf2 {
    position: relative;
    top: 30PX;
}

.pragraf3 {
    position: relative;
    top: 40PX;
}




.border1 {
    position: relative;
    top: 50PX;
    width:200px ;
    border: 3px solid rgb(121, 9, 88);
    padding: 15px;
    margin: 20px;

}

.border2 {
    position: relative;
    top: 60PX;
    width:200px ;
    border: 3px solid rgb(201, 20, 20);
    padding: 15px;
    margin: 20px;

}

.nav {

}

h1 {
    color: rgb(150, 15, 101);
}



